<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cars</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Model </th>
        <th> Series </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td><span th:text="${car.getId()}"> ID </span></td>
        <td><span th:text="${car.getModel()}"> MODEL </span></td>
        <td><span th:text="${car.getSeries()}"> SERIES </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>